{% extends 'base.html.twig' %}


{% block body %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <div data-animate="rollin"   class="col-lg-12">
        <div class="icon" style=" text-align: center;">
            <br>
            <a href="https://www.linkedin.com/in/anis-idrenmouche-5a84b2183/">
                <img src="https://media.licdn.com/dms/image/C4E03AQFdD-fDo_zZhg/profile-displayphoto-shrink_200_200/0?e=1568246400&v=beta&t=9CTxcCTPGOEcT24tlmqwpWDjzba8RohXiMTH25AfDzo" ; style="height: 200px; border-radius:120px"> </div>
    </a>
        <h3 class="heading mb-3 text-400">ANIS  DÉVELOPPEUR FULL STACK</h3>
        <p class="text-left description">Intégration web : HTML/CSS. Bonnes pratiques de la qualité web référencement, performance, ergonomie.
            <br>
            JavaScript/Bootstrap/angular.
            <br>
            Développement web
            <br>
            PHP/MySQl/Symfony "Notion/C++"</p>
        <p>Anis était un étudiant sérieux, motivé, engagé, cherchant toujours à mieux faire et à réaliser les projets entrepris. J’ai pris grand plaisir à échanger avec lui, à lui donner des conseils et à répondre à ses demandes.
            Anis cherche à bien faire, à tenir compte et à tirer profit de ce qui l’entoure. Il cherche à progresser, à apprendre de son entourage et à apporter satisfaction. Il est fiable.
            Il a une attitude positive et très volontaire. Ce sont des atouts indéniables dans une carrière professionnelle. Je lui souhaite le meilleur VOILAAA.</p>
    </div>

{% endblock %}

