{% extends 'base.html.twig' %}


{% block body %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

<h1>QUI JE SUIS </h1>
    <p>Anis Developpeur web en formation </p>

{% endblock %}

