{% extends 'base.html.twig' %}
{% block body %}
    <div class="jumbotron"><meta name="viewport" content="width=device-width, initial-scale=1.0">
    <h1 style="
    text-align: center;
    margin-top: 24px;
">LUXURY$VILLAS</h1>


        <h1 class="display-3">Dubai LUXURY$VILLAS</h1>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <p class="lead">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.
            Bonjour à tous,

            Je m'attaque (lentement mais surement) à la structure MVC. Et cela fait plusieurs fois que je croise le mot "vendor" dans mes cours et il n'est jamais expliqué. J'ai fait des recherches internet et impossible de savoir ce que c'est qu'un vendor. Dans un cours j'ai crut comprendre que c'était un espace de noms racine, dans un autre que c'était un dossier qui contient les bibliothèques tierces (qui ne sont pas obligatoire pour n'importe qu'elle projet). C'est donc très flou pour moi.

            Déjà que j'ai beaucoup de mal à m'y retrouver dans tous ces nouveaux concepts (contrôleur, modèle, managers, vue, module, moteur de templates, routeur, layout, framework... ça fait beaucoup!:euh:), si en plus je n'ai pas d'explication claire ça devient vraiment dur.

            Désolé si ma question est idiote et merci d'avance pour vos réponses</p>

        <section id="services" class="bg-gradient services-section">
            <div class="container">
                <header class="text-center">
                    <h2 data-animate="fadeInDown" class="title">Formation</h2>
                </header>
                <div class="row services text-center">
                    <div data-animate="fadeInUp">
                        <div class="icon"> </div>
                        <h3 class="heading mb-3 text-400"> </h3>
                        <p class="text-left description"> </p>
                    </div>
                    <div data-animate="fadeInUp" class="col-lg-4">
                        <div class="icon">
                            <img src="https://www.w3schools.com/images/w3schools_green.jpg"; style="height: 143px; border-radius:60px"> </div>
                        <h3 class="heading mb-3 text-400">Passe-Numérique 2017/2018 </h3>
                        <p class="text-left description"> Programmation informatique, Langages vus au sein de la formation.

                        <p> HTML/CSS/JAVACRIPT<P>


                    </div>
                    <div data-animate="fadeInUp" class="col-lg-4">
                        <div class="icon">
                            <img src="https://about.canva.com/wp-content/uploads/sites/3/2016/08/logos-1.png"; style="height: 143px; border-radius:60px"> </div>
                        <h3 class="heading mb-3 text-400">FORMATION DÉVELOPPEUR FULL STACK- 2019</h3>
                        <p class="text-left description">Intégration web : HTML/CSS. Bonnes pratiques de la qualité web référencement, performance, ergonomie.
                            <br>
                            JavaScript/Bootstrap/angular.
                            <br>
                            Développement web
                            <br>
                            PHP/MySQl/Symfony "Notion/C++"</p>
                    </div>
                    <div data-animate="fadeInUp" class="col-lg-4">
                        <div class="icon">
                            <img src="http://www.fabrikgraphik.com/wp-content/uploads/2015/07/Apple_black.jpg"; style="height: 143px; border-radius:60px"> </div>
                        <h3 class="heading mb-3 text-400">Bachelor's degree 2019/2020 </h3>
                        <p class="text-left description">Programmation informatique développeur(se) Logiciel.»</p>
                    </div>
        </section>
    </div>




{% endblock %}