{% extends 'base.html.twig' %}
{% block body %}
    <h1 style="
    text-align: center;
    margin-top: 24px;
">LUXURY$VILLAS</h1>

<p>erztehrytegrzezgtehrgfergethgrfrgd</p>

<p>defrgtrfezgrehtgnbfgdrgethgbfrgtdhbfrdbbd</p>

{% endblock %}