{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!{% endblock %}

{% block body %}
<section class="articles">
    <article>
        <h2>Appartement de luxe de 8 pièces en vente à La Muette, Auteuil, Porte Dauphine, Paris, Île-de-France</h2>
        <div class="metadata">Ecrit le 12/2019 à 11h40 </div>
        <div class="content"></div>
        <img src="https://images.gtsstatic.net/reno/imagereader.aspx?imageurl=http%3A%2F%2Fm.sothebysrealty.com%2F1103i215%2Fqpzjfnk7m24y4v2aqj4ctfkv72i215&option=N&idclient=180&idlisting=180-l-3136-6y25b5&w=1024&permitphotoenlargement=false" height="360" width="570">
        <p> pour le moment je ne sais pas quoi ecrire </p>
        <a href="" class="btn btn-primary"> Lire la suite </a>
    </article>
    <article>
        <h2>Appartement de 5 pièces de luxe en vente à Champs-Elysées, Madeleine, Triangle d’or, France
            </h2>
        <div class="metadata">Ecrit le 12/2019 à 11h40 </div>
        <div class="content"></div>
        <img src="https://images.gtsstatic.net/reno/imagereader.aspx?imageurl=http%3A%2F%2Fm.sothebysrealty.com%2F1103i215%2Ftts21f1s904p4da22y7jcv9s93i215&option=N&idclient=180&idlisting=180-l-3136-lxqp5n&w=1024&permitphotoenlargement=false" height="360" width="570">
        <p> pour le moment je ne sais pas quoi ecrire </p>
        <a href="" class="btn btn-primary"> Lire la suite </a>
    </article>
    <article>
        <h2>Duplex de luxe de 10 pièces en vente Paris, France</h2>
        <div class="metadata">Ecrit le 12/2019 à 11h40 </div>
        <div class="content"></div>
        <img src="https://images.gtsstatic.net/reno/imagereader.aspx?imageurl=http%3A%2F%2Fm.sothebysrealty.com%2F1103i215%2Ff6makzqt9qz8mze2nw6bkxcf86i215&option=N&idclient=180&idlisting=180-l-3136-4ed5tq&w=1024&permitphotoenlargement=false" height="360" width="570">
        <p> pour le moment je ne sais pas quoi ecrire </p>
        <a href="" class="btn btn-primary"> Lire la suite </a>
    </article>


</section>
{% endblock %}
