{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!{% endblock %}

{% block body %}
<section class="articles">
    <article>
        <h2>Appartement de luxe de 8 pièces en vente à La Muette, Auteuil, Porte Dauphine, Paris, Île-de-France</h2>
        <div class="metadata">Ecrit le 12/2019 à 11h40 </div>
        <div class="content"></div>
        <img src="">
        <p> pour le moment je ne sais pas quoi ecrire </p>
        <a href="" class="btn btn-primary"> Lire la suite </a>
    </article>
    <article>
        <h2>Appartement de luxe de 8 pièces en vente à La Muette, Auteuil, Porte Dauphine, Paris, Île-de-France</h2>
        <div class="metadata">Ecrit le 12/2019 à 11h40 </div>
        <div class="content"></div>
        <img src="">
        <p> pour le moment je ne sais pas quoi ecrire </p>
        <a href="" class="btn btn-primary"> Lire la suite </a>
    </article>
    <article>
        <h2>Appartement de luxe de 8 pièces en vente à La Muette, Auteuil, Porte Dauphine, Paris, Île-de-France</h2>
        <div class="metadata">Ecrit le 12/2019 à 11h40 </div>
        <div class="content"></div>
        <img src="">
        <p> pour le moment je ne sais pas quoi ecrire </p>
        <a href="" class="btn btn-primary"> Lire la suite </a>
    </article>


</section>
{% endblock %}
