{% extends 'base.html.twig' %}

{% block body %}

<article>
    <h2>Appartement de luxe de 8 pièces en vente à La Muette, Auteuil, Porte Dauphine, Paris, Île-de-France</h2>
    <div class="metadata">Ecrit le 12/2019 à 11h40 </div>
    <div class="content"></div>
    <img src="https://images.gtsstatic.net/reno/imagereader.aspx?imageurl=http%3A%2F%2Fm.sothebysrealty.com%2F1103i215%2F1k7gbcc7pn2x452jy3kkxkbpg2i215&option=N&w=1600&permitphotoenlargement=false" height="360" width="570">
    <p> PALM JUMEIRAH DUBAI</p>
    <hr>
    <p>Gulf Sotheby's International Realty is pleased to offer you this extravagant One Palm penthouse at Palm Jumeirah, Dubai.
        The penthouse cover area of 21,294 Sq. Ft. including 5 bedrooms and 6 parking. Modern and sleek design, panoramic views, and grand beach-facing arrival Beachfront view, Dubai skyline view, and Burj Al Arab view Landscaped terraces with Jacuzzi and infinity pool Amenities include lush gardens, gym, spa, VIP lounge, private jetty,
        and cinema Welcome to ONE PALM a limited collection of 90 ultra-exclusive homes, designed for a life lived in uncompromising abundance.
        ONE PALM is a completely reimagined approach to elegance and exclusivity. Iconic architecture, sprawling layouts, unbeatable amenities, lush green spaces, and the most sought-after interior features make ONE PALM more than a residence it is life above it all, and beyond description.
        Contact us today for your private viewing of this extraordinary property.</p>

    <p>Price $25,413,206
        AMERICAN DOLLAR, 93,330,000 د.إ
        UNITED ARAB EMIRATES DIRHAMS</p>

    </article>


{% endblock %}